/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00bcd4;
  --ifm-color-primary-dark: #00a9bd;
  --ifm-color-primary-darker: #009fb0;
  --ifm-color-primary-darkest: #008391;
  --ifm-color-primary-light: #1ac6db;
  --ifm-color-primary-lighter: #2dcde0;
  --ifm-color-primary-lightest: #4dd4e5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00e5ff;
  --ifm-color-primary-dark: #00cee6;
  --ifm-color-primary-darker: #00c2d9;
  --ifm-color-primary-darkest: #00a0b3;
  --ifm-color-primary-light: #1ae8ff;
  --ifm-color-primary-lighter: #33ebff;
  --ifm-color-primary-lightest: #66f0ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
